/*
  SnetSystem Color Pallette
  --------------------------------------------------
*/

// Orange (Dark to Light)
$s-orange: #f58220;

// Blue (Dark to Light)
$s-blue: #f58220;

// Gray (Dark to Light)
$s-gray: #939598;
$s-lightGray: #e5e6ea;
