/*
  SnetSystem Color Pallette
  --------------------------------------------------
*/

// Orange (Dark to Light)
$s-grapefruit: #d83f3f;
$s-ligntGrapefruit: #ff4631;
$s-orange: #f58220;
$s-oragne2: #ffa42f;
$s-lightOrange: #ffeedf;

// Blue (Dark to Light)
$s-blue: #005aab;

// Gray (Dark to Light)
$s-gray: #939598;
$s-lightGray: #e5e6ea;
