.connection-title {
  color: $s-orange;
  cursor: pointer;
  :hover {
    color: $s-deepOrange2;
  }
}

.connection-title.link-success {
  color: $c-rainforest;
  :hover {
    color: $c-honeydew;
  }
}
