# Directories
backup
frontend/reports
frontend/build
frontend/dist
frontend/.cache
frontend/node_modules
frontend/coverage
# backend/cmd/cmp/cmp-canned
# backend/cmd/cmp/cmp-protoboards

# Binaries
backend/cmd/cmp/scmp
backend/cmd/cmp/scmpctl
backend/cmd/cmp/*debug*

# Dotfiles
.pull-request
.DS_Store
.godep
.jsdep
.jssrc
.dev-jssrc
.bindata
.eslintcache

# Files
go.sum
cmp*.db*
*_gen.go
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
