# Directories
backup
cloudhub-canned
cloudhub-protoboards
frontend/reports
frontend/build
frontend/dist
frontend/.cache
frontend/node_modules
frontend/coverage

# Binaries
backend/cmd/cloudhub/cloudhub
backend/cmd/cloudhubctl/cloudhubctl
backend/cmd/cloudhub/*debug*

# Auto gen files
backend/cmd/cloudhub/cloudhub*.db*
backend/kv/internal/internal.pb.go
*_gen.go
go.sum

# Extra Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
desktop.ini
debug.log

# Dotfiles
.pull-request
.DS_Store
.godep
.jsdep
.jssrc
.dev-jssrc
.bindata
.eslintcache
nil