# Directories
backup
frontend/reports
frontend/build
frontend/dist
frontend/.cache
frontend/node_modules
frontend/coverage

# Binaries
backend/cmd/cloudhub/cloudhub
backend/cmd/cloudhubctl/cloudhubctl
backend/cmd/cloudhub/*debug*

# Dotfiles
.pull-request
.DS_Store
.godep
.jsdep
.jssrc
.dev-jssrc
.bindata
.eslintcache
nil

# Files
go.sum
cloudhub*.db*
*_gen.go
internal.pb.go
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
desktop.ini
