// agent.scss
/***** layout start *****/
.agent-page {
  .agent-input--container {
    width: 780px;

    .agent--input {
      cursor: pointer;

      &.agent--input-address {
        width: calc(50% - 5px);
        margin-right: 5px;
        cursor: text;
      }

      &.agent--input-id {
        width: calc(25% - 5px);
        margin-right: 5px;
        cursor: text;
      }

      &.agent--input-password {
        width: calc(25% - 5px);
        margin-right: 5px;
        cursor: text;
      }
    }
  }

  .agent-table--empty-state {
    background-color: #292933;
  }

  .agent--btn {
    margin-left: 5px !important;
  }

  .message-zone {
    text-align: left;
  }

  .measurements-query-builder--contain {
    color: $s-orange;
    font-size: 12px;
    background: #232323;
    padding: 10px;
    margin: 5px 0px;
    width: 100%;
  }

  .measurements-title {
    color: $s-orange;
    font-size: 12px;
    background: #232323;
    padding: 10px;
    margin: 5px 0px;
    width: 100%;
  }

  .default-measurements {
    color: $s-orange;
    font-size: 12px;
    background: #232323;
    padding: 10px;
    margin: 5px 0px;
    width: 100%;
  }

  .collect-config--half {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  /***** layout end   *****/

  /***** table start *****/
  .agent--state {
    h4 {
      margin: 90px 0;
    }

    &.agent--loding-state {
      position: absolute;
      z-index: 7;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
    }

    &.generic-empty-state {
      height: 100%;
    }
  }

  .agent--row {
    cursor: pointer;
  }

  .pabel-body--agent-control {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
    padding-top: 0px;
    text-align: right;

    .overlay--body {
      padding-bottom: 25px;
      padding-top: 18px;
      min-height: unset;
    }
  }

  .agent--indicator {
    &.indicator--primary {
      color: $c-rainforest;
    }

    &.indicator--fail {
      color: $c-topaz;
    }
  }

  /***** table end   *****/

  /***** console start *****/
  .console-zone {
    background: #151515;
    padding: 15px 0 15px 15px;
    border-radius: 5px;
    height: 100%;
    width: 100%;

    .console-zone--pre {
      color: #fff;
      white-space: pre-wrap;
      background-color: transparent;
    }
  }

  .agent-page {
    .subsection .panel.panel-solid .panel-body {
      height: calc(100% - 45px);
    }

    .CodeMirror-sizer {
      margin-bottom: 0 !important;
    }

    .panel-title.use-user-select {
      user-select: text !important;
      -moz-user-select: text !important;
      -ms-user-select: text !important;
      -o-user-select: text !important;
    }
  }

  /***** console end   *****/

  /***** tooltip start *****/
  /***** tooltip end   *****/

  /***** agentConnecttooltip start *****/
  .agent-connect-tips {
    @include no-user-select();
    display: inline-block;
    padding: 0 4px;
    border: 0;
    height: 30px;
    line-height: 30px;
    color: $g13-mist;
    font-weight: 700;
    font-size: 12px;

    >.icon {
      display: inline-block;
      font-size: 16px;
      margin: 0 4px;
    }
  }

  /***** agentConnecttooltip end   *****/
  $OperatingSystems: aix,
  centos,
  freebsd,
  netbsd,
  redhat,
  univention,
  alpine,
  chapeau,
  gentoo,
  nilinuxrt,
  scientificlinux,
  vmware,
  alt,
  cloudlinux,
  kde-neon,
  nilinuxrt-xfce,
  smartos,
  void,
  amazon,
  darwin,
  korora,
  oel,
  solaris,
  windows,
  antergos,
  debian,
  macos,
  openbsd,
  steamos,
  arch,
  elementary,
  manjaro,
  opensolaris,
  suse,
  arch-arm,
  fedora,
  mint,
  raspbian,
  ubuntu;

  .os-icon {
    width: 100%;
    display: flex;
    position: relative;
    padding-left: 25px;
  }

  .os-icon::after {
    content: '';
    display: flex;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -2px;
    left: 0;
  }

  @each $OperatingSystem in $OperatingSystems {
    .os-#{$OperatingSystem}::after {
      background: url("../agent_admin/components/assets/os/os-#{$OperatingSystem}.png");
      background-size: cover;
    }
  }

  .agent-select--button-box {
    width: 200px;
    margin-left: 5px;
    height: 38px;
    position: relative;

    .dropdown.dropdown-stretch.top {
      height: 100%;

      .btn.dropdown-toggle.btn-sm.btn-default {
        height: 100%;
      }
    }

    .loading-box {
      display: flex;
      align-content: center;
      align-items: center;
      position: absolute;
      z-index: 2;
      width: 100%;
      background: rgba(0, 0, 0, 0.7);
      height: 100%;
      border-radius: 5px;

      .loading-spinner {
        width: 100%;
      }

      .loading-spinner .spinner>div {
        background-color: $s-orange;
      }
    }
  }

  .threesizer--division {
    overflow: visible;
  }
}