.refresh-spinner-icon.refresh::before {
  content: '\e949';
  display: block;
  transform: translate(-0.2px, -2px);
}

.refresh-spinner-icon {
  display: inline-block;
  font-size: 20px;
  line-height: 1;
  width: 1em;
  height: 1em;
  text-align: center;
  transform-origin: center;
  will-change: transform;
  backface-visibility: hidden;
}

.refresh-spinner {
  .button-icon {
    transform: none;
  }
}

.spinning {
  .refresh-spinner-icon {
    animation: spin 2s linear infinite;
  }
}
.spinning.slow {
  .refresh-spinner-icon {
    animation: spin 5s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
