# If you modify this, please also make sure to edit init.sh

[Unit]
After=network-online.target

[Service]
User=snet
Group=snet
Environment="HOST=0.0.0.0"
Environment="PORT=8888"
#Environment="PORT=443"
#Environment="TLS_CERTIFICATE=/usr/lib/csh/key/scmp_self_signed.pem"
Environment="BOLT_PATH=/var/lib/csh/cmp-v1.db"
Environment="CANNED_PATH=/usr/share/csh/cmp-canned"
Environment="PROTOBOARDS_PATH=/usr/share/csh/cmp-protoboards"
EnvironmentFile=-/etc/default/csh
ExecStart=/usr/bin/csh $CSH_OPTS
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target