$ICON_SIZE: 2rem;
$DEFAULT_PADDING: 0.75rem;
$FONT_COLOR_NORMAL: #bec2cc;

.toggle-icon {
  display: inline-block;
  &-symbol {
    width: $ICON_SIZE;
    height: $ICON_SIZE;
    text-align: center;
    line-height: $ICON_SIZE;
  }
}

.tree-item-group {
  list-style-type: none;
  padding-left: 0;
  border-top: 0px solid $g5-pepper;
  margin: 4px 0 0.55em 0;
  font-weight: 400;
}

.fancy-scroll--view div,
.tree-item-group:focus {
  outline: none;
}

.tree-item {
  padding: 0.2rem 1rem;
  cursor: pointer;
  color: $FONT_COLOR_NORMAL;
  background-color: $g3-castle;
  border-bottom: 1px solid $g5-pepper;
  box-shadow: none;
  z-index: unset;
  position: relative;
  margin: 0;
  transition: background-color 0.25s;

  &-level-2 {
    color: $FONT_COLOR_NORMAL;
  }

  &-level-2 {
    color: $ix-link-default;
  }

  &-level-2:hover {
    color: $ix-link-default-hover;
  }

  &--active {
    overflow: hidden;
    background-color: $g6-smoke;
  }

  &-level-0:hover,
  &-level-1:hover,
  &--active.tree-item-level-0,
  &--active.tree-item-level-1 {
    text-shadow: 0 0 5px $s-orange, 0 0 10px $s-orange, 0 0 25px #fff;
    color: #fff;
  }

  &--active.tree-item-level-2 {
    color: #fff;
    @include gradient-h($sidebar-menu--bg, $s-deepOrange2);
    // background: #22adf6;
    // background: -moz-linear-gradient(left, #22adf6 0%, #9394ff 100%);
    // background: -webkit-linear-gradient(left, #22adf6 0%, #9394ff 100%);
    // background: linear-gradient(to right, #22adf6 0%, #9394ff 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startColor', endColorstr='$endColor',GradientType=1 );
    transition: opacity 0.25s ease;
  }
}

.tree-search {
  padding: 0.25rem 1.5rem;
  border: none;
  width: 100%;
  font-weight: bold;
  color: $g15-platinum;
  background-color: $g2-kevlar;
  &:focus {
    color: $g20-white;
  }
}

/*****************
Applications page view 
******************/
@keyframes clickMotion {
  0% {
    transform: translateY(1em);
  }
  50% {
    transform: translateY(2em);
  }
  100% {
    transform: translateY(1em);
  }
}

.application--no-selected-graphic {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  .application--graphic-pointer {
    height: 100%;
    background-image: url('../../assets/images/pointer.svg');
    background-size: cover;
    background-repeat: no-repeat;
    animation: clickMotion 1.8s infinite linear;
  }
}

.logs-viewer--table-container h4 {
  line-height: 1.5;
  .line-break {
    display: block;
  }
}
