.swan-sdpldex-status-page__container {
  .hosts-table--th {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .hosts-table-item {
    transition: color 0.25s ease;
    color: $s-brown;

    &.focused,
    &:hover,
    &:active {
      color: $s-orange;
    }
  }

  .container-fluid {
    height: auto;
  }

  .panel {
    margin-bottom: 10px;

    .panel-heading {
      padding: 5px 5px 0 5px;
    }

    .panel-body {
      padding: 5px;
    }
  }

  .grid-layout-header--search-bar {
    z-index: 3;
    height: 24px;
    margin-right: 3px;

    .form-control.input-sm {
      height: 24px;
    }
  }

  .dash-graph--name {
    width: 100%;
    font-weight: bold;
    letter-spacing: 0.1px;
  }

  .dash-graph--heading {
    width: 100%;
  }

  .align--start {
    justify-content: flex-start;
  }

  .align--center {
    justify-content: center;
  }

  .align--end {
    justify-content: flex-end;
  }

  .indicator-unit--wrap {
    width: 30px;
    text-align: left;
    margin: 0 10px;
  }

  .indicator-unit {
    font-size: 10px;
  }

  .hosts-table--tr {
    border-bottom: 1px solid #353535;
  }

  .generic-empty-state {
    height: calc(100% - 45px);
  }

  .status-indicator {
    width: 12px;
    height: 12px;
    background: $c-topaz;
    border-radius: 100%;

    &.status-indicator--enabled {
      background: $c-rainforest;
    }
  }

  .dash-graph--heading--button-box {
    position: relative;
    z-index: 3;
    margin-right: 10px;

    .btn-group-sm > .btn,
    .btn.btn-sm {
      height: 22px;
      line-height: 20px;
    }

    .is-new {
      position: absolute;
      background: $s-deepOrange2;
      border-radius: 3px;
      top: -8px;
      right: 0px;
      display: inline-block;
      color: #fff;
      padding: 0px 3px;
      font-size: 11px;
      z-index: 2;
    }

    .dropdown {
      &.dropdown-stretch {
        z-index: 1;

        > .dropdown-toggle {
          z-index: 1;
        }
      }

      &.open {
        .dropdown-menu {
          width: max-content !important;
          top: 26px;
          z-index: 1;
        }
      }

      > .dropdown-toggle {
        &.btn-sm {
          .dropdown-selected {
            padding-right: 15px;
          }
        }
      }
    }
  }

  .list-section-title {
    font-size: 13px;
    cursor: default;
  }

  .list-section-container {
    h4 {
      margin-top: 15px;
      margin-bottom: 5px;
    }

    h4:first-child {
      margin-top: 0px;
    }

    .list-section--row {
      align-items: center;
      background-color: #292933;
      padding: 5px 24px;
      cursor: default;

      &.list-section--row-first {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      &.list-section--row-last {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    ol {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  .form-control {
    &.input-sm {
      height: 25px;
      padding: 5px 24px;
    }
  }

  .fancy-scroll--container {
    margin-right: 0px;
  }

  .loading-box {
    display: flex;
    align-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    border-radius: 5px;

    .loading-spinner {
      width: 100%;
    }

    .loading-spinner {
      .spinner {
        > div {
          background-color: $s-orange;
        }
      }
    }
  }

  .overlay--container {
    width: 380px;

    .overlay--heading {
      height: 35px;
      padding: 0 15px;
    }

    .overlay--title {
      font-size: 16px;
    }

    .overlay--body {
      padding: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .form--submit {
      margin-top: 0px;
    }

    hr {
      height: 1px;
      margin: 15px 0;
    }
  }

  .caution-word {
    color: $s-grapefruit;
    font-weight: 600;
  }

  .cursor--pointer {
    cursor: pointer;
  }

  .table-item {
    width: 100%;
  }

  .flux-functions-toolbar--tooltip {
    transform: none;
  }

  .grid-item--routers {
    z-index: 1;
  }

  .__react_component_tooltip {
    pointer-events: unset;
  }
}

/***** routerMap start *****/
.router-connect-tips {
  @include no-user-select();
  display: inline-block;
  padding: 0 4px;
  border: 0;
  height: 30px;
  line-height: 30px;
  color: $g13-mist;
  font-weight: 700;
  font-size: 12px;

  > .icon {
    display: inline-block;
    font-size: 16px;
    margin: 0 4px;
  }
}

.router-map-container {
  height: 100%;
  z-index: 3;
  position: relative;

  .leaflet-popup-content-wrapper {
    border-radius: 3px;
    background-color: $g2-kevlar;
    color: #fff;

    .leaflet-popup-content {
      text-align: center;
      margin: 5px 8px;
    }
  }

  .leaflet-popup-tip-container {
    width: 20px;
    height: 10px;
    margin-left: -10px;

    .leaflet-popup-tip {
      width: 8px;
      height: 8px;
      margin: -4px auto 0;
      background-color: $g2-kevlar;
    }
  }
}

#router-connect-tips-tooltip {
  top: 10px !important;
}

.router-connect-tips {
  .__react_component_tooltip.place-left:after {
    top: 10%;
  }
}

.reset-layout-tips {
  .__react_component_tooltip.place-left.type-dark.influx-tooltip {
    top: 10px !important;
  }

  .__react_component_tooltip.place-left:after {
    top: 30%;
  }
}

.button-square .button-icon._reset-layout-align {
  margin-top: 3px;
}

/***** routerMap end   *****/

.agent-default-button {
  min-width: 70px;
}

.datapopup-table--container {
  display: flex;
  flex-direction: column;

  .datapopup-table--section {
    display: flex;
    margin-bottom: 9px;

    .datapopup-table--section--full,
    .datapopup-table--section--half {
      margin-right: 9px;
      background-color: #111;
      padding: 10px;
      border-radius: 5px;
    }

    .datapopup-table--section--full {
      width: 100%;
    }

    .datapopup-table--section--half {
      &.width-10 {
        width: 10%;
      }

      &.width-20 {
        width: 20%;
      }

      &.width-30 {
        width: 30%;
      }

      &.width-40 {
        width: 40%;
      }

      &.width-50 {
        width: 50%;
      }

      &.width-60 {
        width: 60%;
      }

      &.width-70 {
        width: 70%;
      }

      &.width-80 {
        width: 80%;
      }

      &.width-90 {
        width: 90%;
      }
    }

    .datapopup-table--section--full:last-child,
    .datapopup-table--section--half:last-child {
      margin-right: 0px;
    }
  }
}

.data-popup-container {
  position: relative;

  .data-popup-item {
    padding-right: 8px;
    width: 1000px;
    position: fixed;
    transform: none;
    z-index: 30;

    .data-popup-dismiss {
      position: absolute;
      z-index: 5000;
      top: 0;
      right: 0;
      transform: translate(0, -50%);
      width: 24px;
      height: 24px;
      outline: none;
      border-radius: 50%;
      background-color: #f58220;
      transition: background-color 0.25s ease;
      border: 0;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 13px;
        height: 3px;
        top: 50%;
        left: 50%;
        border-radius: 1px;
        background-color: $g20-white;
      }

      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:hover {
        background-color: $s-deepOrange2;
        cursor: pointer;
      }
    }

    .data-popup-contents {
      border: 2px solid $s-orange;
      border-radius: 4px;
      width: 100%;
      max-width: 1000px;
      display: inline-flex;
      align-items: center;
      background-color: #1c1c21;
    }

    .hosts-table--th {
      font-size: 11px;
      padding: 5px;
    }
  }

  .data-table-title {
    display: inline-block;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 400;

    .data-table-title-sub {
      background: #282823;
      color: $s-orange;
      border-radius: 2px;
      margin-left: 5px;
      padding: 2px 5px 1px;
      font-size: 12px;
    }
  }

  .generic-empty-state {
    height: 100%;
  }

  .data-table-container {
    height: 100%;

    &.min-height {
      min-height: 110px;
    }

    .hosts-table {
      height: calc(100% - 15px);
    }
  }
}

.UsageIndacator-container {
  width: 100%;
  text-align: center;

  .UsageIndacator-value {
    &.UsageIndacator--caution {
      color: $s-oragne2;
    }

    &.UsageIndacator--warning {
      color: $c-topaz;
    }

    &.UsageIndacator--danger {
      color: red;
    }
  }

  .UsageIndacator {
    height: 2px;
    text-align: center;
    background: -webkit-linear-gradient(left, #2de5a5 0%, #298bdb 100%);
    margin-top: 2px;

    &.UsageIndacator--caution {
      background: $s-oragne2;
    }

    &.UsageIndacator--warning {
      background: $c-topaz;
    }

    &.UsageIndacator--danger {
      background: red;
    }
  }
}

.topology-group-title-container {
  width: 100%;
  text-align: center;
}

/***** SWAN Topology style *****/

$Roles: conductor, combo;

.topology-table-container {
  background-color: $g5-pepper;
  color: $g19-ghost;
  border: 2px solid $s-orange;
  border-radius: 5px;
  transform: translateY(42px);

  &.unconnected {
    border-color: #f1f1f1;
  }

  .table-background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    background-size: contain;

    @each $Role in $Roles {
      &.bg-#{$Role} {
        &::after {
          content: '';
          background: url('../addon/128t/components/assets/role-#{$Role}.svg')
            no-repeat
            center;
          display: flex;
          width: 70%;
          height: 100%;
          margin: 0 auto;
        }
      }
    }

    &.bg-machine {
      &::after {
        content: '';
        background: url('../addon/128t/components/assets/topology_machine.svg')
          no-repeat center;
        display: flex;
        width: 70%;
        height: 100%;
        margin: 0 auto;
      }
    }
  }

  .icon-container {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -17px;
    right: 3px;
  }

  .hosts-table-title {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-family: 'RobotoMono', monospace;
    font-weight: 500;
    padding: 8px 8px 2px;
    line-height: 1.42857143em;
    color: $s-orange;
    white-space: pre-wrap;
    word-break: break-all;
  }

  .hosts-table-title-sub {
    height: 15px;
    overflow: hidden;
    padding-right: 8px;

    > img {
      height: 100%;
    }
  }

  .hosts-table {
    .hosts-table--tr {
      pointer-events: none;

      .hosts-table--th {
        font-size: 11px;
      }
      .hosts-table--td {
        font-size: 11px;
        color: #fff;
      }
    }
  }
}

#swan-topology-graph-wrapper {
  height: 100%;
}
