.cell-management-button {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 8px;
  .button-sm {
    padding: 0 6px;
  }
  .icon {
    margin-left: 0;
    margin-right: 0;
    top: 1px;
  }
}

.cell-list-overlay-container {
  min-height: 100px;
  max-height: 70vh;
}

.cell-list-overlay-scrollbar {
  max-height: 70vh;
}

.selected-cell-name {
  display: flex;
  align-items: center;
  margin-right: 8px;
  max-width: 320px;
}

.selected-cell-name-text {
  font-size: 12px;
  color: #a9b0bf;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
