.flow-line {
  position: relative;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mapping-table-host {
  position: absolute;
  top: -16px;
  left: calc(50% - 25%);
  width: 50%;

  display: inline-block;
  padding: 2px 15px;
}

.mapping-table {
  .mapping-readonly {
    color: $g12-forge;
    background-color: inherit;
    margin: 8px 0;
    border: none;
    display: flex;
    align-items: center;

    .line-height {
      line-height: 1.5;
    }
  }
  .table {
    > tbody {
      > tr {
        &:hover {
          background-color: $g4-onyx;
        }
      }
    }

    .dropdown-selected {
      width: 100%;
    }
  }
}

.mapping-table {
  .table .isDeletable {
    opacity: 0.4;
    pointer-events: none;
  }
}

.table .isDeletable {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
}

.mapping-table {
  .table {
    .table-row {
      border-bottom: 1px solid $g4-onyx;
    }

    td {
      padding: 8px 8px;
    }
  }
}

.mapping-table-center {
  display: flex;
  justify-content: center;
  align-items: center;

  .save-button {
    margin-right: 8px;
  }

  .icon.checkmark {
    cursor: pointer;
    color: $c-rainforest;
  }
  .icon.trash {
    cursor: pointer;
  }
}

.mapping-table {
  .w-35 {
    width: 35%;
  }

  .w-30 {
    width: 30%;
  }

  .w-20 {
    width: 20%;
  }

  .w-10 {
    width: 10%;
  }

  .w-18 {
    width: 18%;
  }

  .w-15 {
    width: 15%;
  }

  .w-5 {
    width: 5%;
  }
}
