.flow-line {
  position: relative;
  margin: 10px 0; /* 데모용 여백 */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ────── 가운데 호스트 라벨 ────── */
.host {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  display: inline-block;
  padding: 2px 15px; /* 라벨 내부·선 간격 */
  z-index: 1; /* 선 위에 겹치도록 */
}

.mapping-table {
  .input-cte__disabled {
    color: $g12-forge;
    margin: 8px 0;
  }
  .table {
    > tbody {
      > tr {
        &:hover {
          background-color: $g3-castle;
        }
      }
    }

    .dropdown-selected {
      width: 100%;
    }
  }
}

.mapping-table-2 {
  .input-cte__disabled {
    color: $g12-forge;
    background-color: inherit;
    margin: 8px 0;
  }
  .table {
    > tbody {
      > tr {
        &:hover {
          background-color: $g4-onyx;
        }
      }
    }

    .dropdown-selected {
      width: 100%;
    }
  }
}

.mapping-table-center {
  display: flex;
  justify-content: center;
  align-items: center;

  .save-button {
    margin-right: 8px;
  }

  .icon.checkmark {
    cursor: pointer;
    color: $c-rainforest;
  }
  .icon.trash {
    cursor: pointer;
  }
}

.table .isDeletable {
  background-color: $g4-onyx;
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
  //Todo: Cursor 동작 안됨
}

.mapping-table-2 {
  .table .isDeletable {
    background-color: inherit;
    opacity: 0.4;
    pointer-events: none;
    cursor: not-allowed;
    border: 1px solid $c-fire;
    //Todo: Cursor 동작 안됨
  }
}

.table .w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-5 {
  width: 5%;
}
