.device-management-message {
  text-align: center;
  font-weight: 400;

  .label-info--save {
    color: $c-rainforest;
    font-weight: 600;
  }
  .label-warning {
    color: $c-topaz;
    font-weight: 600;
  }
}

.device-management-import {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1%;
}

.device-management-import--header {
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
}

.device-management-import--success {
  color: $c-rainforest;
}

.device-management-import--fail {
  color: $c-topaz;
}

.device-status--header {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 10px 0;
}

.device-modal--childNode {
  white-space: pre-wrap;
  text-align: center;
  font-size: 14px;

  .span-header {
    display: block;
    padding-top: 5px;
  }

  .label-info {
    color: $c-rainforest;
    font-weight: 600;
  }
  .label-warning {
    color: $c-topaz;
    font-weight: 600;
  }

  > * {
    margin-top: 8px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.device-management-modal-body {
  max-height: 300px;
  overflow-y: auto;
}

.device--indicator {
  &.indicator--primary {
    color: $c-rainforest;
  }

  &.indicator--fail {
    color: $c-topaz;
  }
}

.device-Management-toggle {
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 30px;
  justify-content: center;

  span {
    display: inline-block;
    margin-left: 8px;
    font-weight: 500;
    font-style: italic;
    color: $g10-wolf;
    transition: color 0.25s ease;
    @include no-user-select();
  }
  .slide-toggle.active + span {
    font-style: normal;
    color: $g15-platinum;
  }
}

.pencil-confirm {
  background-image: url('../../assets/images/pencil-confirm.svg');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.pencil-exclamation {
  background-image: url('../../assets/images/pencil-exclamation.svg');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
