.kapacitor-rules {
  .panel-heading > div {
    display: flex;
  }

  .kapacitor-rules__toggle {
    margin-left: 8px;
  }

  .kapacitor-rules__filter {
    margin-right: 4px;
    line-height: 1;
  }

  .kapacitor-rules__action {
    margin-right: 4px;
  }
}
