.server-alert-table-row {
  height: 48px;
}

.server-alert-table-row td {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.server-alert-rule-container {
  display: flex;
  flex-direction: column;
}

.server-alert-rule-critical {
  color: $c-curacao;
  font-size: 12px;
}

.server-alert-rule-warning {
  color: $c-tiger;
  font-size: 12px;
}

.server-alert-settings-container {
  display: flex;
  gap: 8px;
  font-size: 12px;
  justify-content: end;

  .confirm-button.btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.server-alert-page-content {
  height: 100%;
}

.server-alert-json-view-container {
  background: $g1-raven;
  padding: 16px;
  border-radius: 4px;
  overflow: auto;
  max-height: 600px;
}

.server-alert-trigger-cell {
  display: flex;
  flex-direction: column;
}

.server-alert-trigger-sub {
  font-size: 11px;
  color: $g10-wolf;
  margin-top: 2px;
}
