.custom {
  flex-grow: 1;
}

.modal-wrapper {
  width: 100%;
  transition: width 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  height: 100%;

  > * {
    width: 100%;
  }

  .modal-content {
    height: auto;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    padding: 10px;
    flex: 0 0 400px;
    box-sizing: border-box;
  }

  .modal-content-inner {
    position: fixed;
    top: 137px;
    width: inherit;
    right: 0;
    height: calc(100% - 137px);
    overflow: hidden;
  }
}
