.custom {
  flex-grow: 1;
}

.modal-wrapper {
  width: 100%;
  transition: width 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.modal-content {
  height: auto;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  padding: 10px;
  background-color: $g3-castle;
}
