/*
  static Legend
  ------------------------------------------------------------------------------
  Seen in a dashboard cell, below the graph
  NOTE: Styles for the parent are stored in Javascript, in staticLegend.js
*/

.static-legend {
  position: absolute;
  width: calc(100% - 32px);
  bottom: 8px;
  left: 16px;
  display: flex;
  padding-top: 8px;
  align-items: flex-end;
  flex-wrap: wrap;
  max-height: 50%;
  overflow: auto;
  @include custom-scrollbar($g3-castle, $g6-smoke);
}

.static-legend--item,
.static-legend--single {
  height: 19px;
  line-height: 19px;
  white-space: nowrap;
  background-color: $g4-onyx;
  border-radius: 3px;
  color: $g20-white;
  font-size: 11px;
  font-weight: 600;
  padding: 0 6px;
  margin: 1px;
}
.static-legend--item {
  transition: background-color 0.25s ease, color 0.25s ease;

  span {
    opacity: 0.8;
    transition: opacity 0.25s ease;
  }

  &:hover {
    cursor: pointer;
    background-color: $g6-smoke;

    span {
      opacity: 1;
    }
  }
  &.disabled {
    background-color: $g1-raven;
    font-style: italic;

    span {
      opacity: 0.35;
    }

    &:hover {
      background-color: $g2-kevlar;

      span {
        opacity: 0.65;
      }
    }
  }
}

.static-graph-static-legend {
  box-sizing: border-box;
  position: relative;
  padding-bottom: 8px;
  width: 100%;
  display: grid;
  padding-top: 8px;
  align-content: start;
  overflow: auto;
  @include custom-scrollbar($g3-castle, $g6-smoke);
}

.static-graph-static-legend--item,
.static-graph-static-legend--single {
  height: 19px;
  line-height: 19px;
  white-space: nowrap;
  background-color: $g4-onyx;
  border-radius: 3px;
  color: $g20-white;
  font-size: 11px;
  font-weight: 600;
  padding: 0 6px;
  margin: 1px;
}
.static-graph-static-legend--item {
  transition: background-color 0.25s ease, color 0.25s ease;
  display: flex;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  &--maker {
    width: 10px;
    height: 10px;
    min-height: 10px;
    min-width: 10px;
    border-radius: 50%;
    background-color: black;
    margin-right: 5px;
  }

  span {
    opacity: 0.8;
    transition: opacity 0.25s ease;
  }

  &:hover {
    cursor: pointer;
    background-color: $g6-smoke;

    span {
      opacity: 1;
    }
  }

  &.disabled {
    background-color: $g1-raven;
    font-style: italic;

    .static-graph-static-legend--item--maker {
      opacity: 0.35;
    }

    span {
      opacity: 0.35;
    }

    &:hover {
      background-color: $g2-kevlar;
      .static-graph-static-legend--item--maker {
        opacity: 0.65;
      }

      span {
        opacity: 0.65;
      }
    }
  }
}

.static-graph-container {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.static-graph-chart-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  > div {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
