/*
    Sidebar Navigation Styles
    ----------------------------------------------
*/

$sidebar--width: 60px;

$sidebar--gradient-start: $g7-graphite;
$sidebar--gradient-end: $g4-onyx;

$sidebar--logo-bg: $g19-ghost;
// $sidebar--logo-color: $c-pool;
$sidebar--logo-color: $s-orange;
$sidebar--logo-bg-hover: $s-orange;
$sidebar--logo-color-hover: #fff;

$sidebar--item-bg: transparent;
$sidebar--item-bg-hover: $s-orange;
$sidebar--item-bg-active: $g4-onyx;
$sidebar--icon: $g11-sidewalk;
$sidebar--icon-hover: $g20-white;
$sidebar--icon-active: $g20-white;

$sidebar-menu--bg: $s-orange;
$sidebar-menu--bg-accent: $s-grapefruit;
$sidebar-menu--item-bg: $s-oragne2;
$sidebar-menu--item-bg-accent: $s-ligntGrapefruit;
$sidebar-menu--item-bg-hover: $s-oragne2;
$sidebar-menu--item-bg-hover-accent: $s-ligntGrapefruit;
$sidebar-menu--item-text: $s-lightOrange;
$sidebar-menu--item-text-hover: $g20-white;
$sidebar-menu--item-text-active: $g20-white;
$sidebar-menu--gutter: 18px;

/*
    SnetSystem Sidebar Navigation Styles
    ----------------------------------------------
*/
$s-sidebar--width: 45px;

.sidebar {
  display: flex;
  flex-direction: column;
  width: $s-sidebar--width;
  z-index: 200;
  @include gradient-v($sidebar--gradient-start, $sidebar--gradient-end);
}
.sidebar--bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: $s-sidebar--width;
}

/*
    Sidebar Items
    ----------------------------------------------
*/
.sidebar--item {
  width: $s-sidebar--width;
  height: $s-sidebar--width;
  position: relative;

  &.cursor-default {
    cursor: default !important;
  }

  &.symbol-company {
    background: url(../../assets/images/snet_symbolmark00.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &.align-bottom {
    margin-top: auto;
  }
}
.sidebar--square {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $sidebar--item-bg;
  transition: none;
}
.sidebar--icon {
  position: absolute;
  color: $sidebar--icon;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: $s-sidebar--width * 0.4222;

  &._snet--application {
    margin-top: 4px;
  }
}
/*
  Sidebar Item Active State
*/
.sidebar--item.active {
  .sidebar--square {
    background-color: $sidebar--item-bg-active;
  }
  .sidebar--icon {
    color: $sidebar--icon-active;
    text-shadow: 0 0 5px $s-orange, 0 0 10px $s-orange, 0 0 25px #fff;
    transition: text-shadow 0.3s ease;
  }
}

/*
  Sidebar Item Hover State
*/
.sidebar--item:hover {
  cursor: pointer;
  z-index: 5;

  .sidebar--square {
    background-color: $sidebar--item-bg-hover;
  }
  .sidebar--icon {
    color: $sidebar--icon-hover;
  }
  .sidebar-menu {
    display: flex;
  }
}
.sidebar--item.active:hover .sidebar--icon {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px $s-grapefruit;
}
/*
  Sidebar Logo Square
*/
.sidebar--square.sidebar--logo {
  @include gradient-h($sidebar-menu--bg, $s-deepOrange2);
  .sidebar--icon {
    color: #fff;
    width: 35px;
    height: 32px;
    font-size: 32px;
    text-align: center;
  }
}
.sidebar--item:hover .sidebar--square.sidebar--logo {
  background-color: $sidebar--logo-bg-hover;
  .sidebar--icon {
    color: $sidebar--logo-color-hover;
    text-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 10px #fff;
  }
}
.sidebar--item.active .sidebar--square.sidebar--logo {
  background-color: $sidebar--logo-bg-hover;
  .sidebar--icon {
    color: $sidebar--logo-color-hover;
    text-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 10px #fff;
    transition: text-shadow 0.3s ease;
  }
}

/*
    Sidebar Sub Menus
    ----------------------------------------------
*/
.sidebar-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 $radius $radius 0;
  @include gradient-h($sidebar-menu--bg, $sidebar-menu--bg-accent);
  transition: opacity 0.25s ease;
  display: none;
  flex-direction: column;
}
.sidebar-menu--heading,
.sidebar-menu--item {
  width: 100%;
  white-space: nowrap;
  display: block;
  @include no-user-select();
  &:hover {
    cursor: pointer;
  }
}
.sidebar-menu--heading.sidebar--no-hover,
.sidebar-menu--heading.sidebar--no-hover:hover {
  cursor: default;
}
.sidebar-menu--item,
.sidebar-menu--item:link,
.sidebar-menu--item:active,
.sidebar-menu--item:visited {
  color: $sidebar-menu--item-text;
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  position: relative;
  padding: 4px $sidebar-menu--gutter;
  transition: none;

  // Rounding bottom outside corner of match container
  &:nth-last-child(2) {
    border-bottom-right-radius: $radius;
  }
}
.sidebar-menu--item.active,
.sidebar-menu--item.active:link,
.sidebar-menu--item.active:active,
.sidebar-menu--item.active:visited {
  @include gradient-h($sidebar-menu--item-bg, $sidebar-menu--item-bg-accent);
  color: $sidebar-menu--item-text-active;
  font-weight: 500;
}
.sidebar-menu--item:hover,
.sidebar-menu--item.active:hover {
  @include gradient-h(
    $sidebar-menu--item-bg-hover,
    $sidebar-menu--item-bg-hover-accent
  );
  color: $sidebar-menu--item-text-hover;
}
.sidebar-menu--heading,
.sidebar-menu--heading:link,
.sidebar-menu--heading:visited,
.sidebar-menu--heading:active,
.sidebar-menu--heading:hover {
  color: $g20-white;
  height: $s-sidebar--width;
  line-height: $s-sidebar--width;
  font-size: 19px;
  font-weight: 300;
  padding: 0px $sidebar-menu--gutter;
}
.sidebar-menu--item > strong {
  opacity: 0.6;
}
// Invisible triangle for easier mouse movement when navigating to sub items
.sidebar-menu--triangle {
  position: absolute;
  z-index: -1;
}
.sidebar-menu .sidebar-menu--triangle {
  width: 50px;
  height: 60px;
  bottom: 12px;
  left: 6px;
  transform: translate(-50%, -50%) rotate(30deg);
}
.sidebar-menu--section {
  white-space: nowrap;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  padding: 14px 18px 0px;
  text-transform: uppercase;
  color: $s-white;
  @include no-user-select();
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    @include gradient-h($s-pitch, $s-pitch2);
  }
}
// SuperAdminIndicator
span.icon.sidebar--icon.sidebar--icon__superadmin {
  font-size: 11px;
  top: 26%;
}
.sidebar-menu--superadmin {
  padding: 4px $sidebar-menu--gutter;
  font-size: 15px;
  font-weight: 500;
  @include no-user-select();
  > div {
    @include gradient-h($c-pineapple, $c-tiger);
    color: $c-sapphire;
  }
  span.icon {
    display: inline-block;
    margin-right: 6px;
    position: relative;
    top: -2px;
  }
  &:hover {
    cursor: default;
  }
}
.sidebar-menu--provider {
  padding: 4px $sidebar-menu--gutter;
  font-size: 15px;
  font-weight: 500;
  @include no-user-select();
  > div {
    @include gradient-h($s-pitch, $s-pitch2);
    color: $g20-white;
  }
  span.icon {
    display: inline-block;
    margin-right: 6px;
    position: relative;
    top: -2px;
  }
  &:hover {
    cursor: default;
  }
}
.sidebar-menu--superadmin > div,
.sidebar-menu--provider > div {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  border-radius: 3px;
  white-space: nowrap;
}
.fancy-scroll--container.sidebar-menu--scrollbar {
  .fancy-scroll--thumb-h {
    display: none !important;
  }
  .fancy-scroll--thumb-v {
    $s-pitch2: #eb6b5d;
    @include gradient-v($g20-white, $s-pitch2);
  }
}
.sidebar-menu--user-nav {
  top: initial;
  bottom: 0;
  .sidebar-menu--section__custom-links {
    order: 0;
  }
  .sidebar-menu--item__link-name {
    order: 1;
  }
  .sidebar-menu--section__switch-orgs {
    order: 2;
  }
  .sidebar-menu--scrollbar {
    order: 3;
  }
  .sidebar-menu--section__account {
    order: 4;
  }
  .sidebar-menu--provider {
    order: 5;
  }
  .sidebar-menu--item__logout {
    order: 6;
  }
  .sidebar-menu--heading {
    order: 7;
  }
  .sidebar-menu--triangle {
    order: 8;
  }
  .sidebar-menu--section__custom-links:after {
    display: none;
    border-top-right-radius: $radius;
  }
}
@media only screen and (min-height: 800px) {
  .sidebar-menu--user-nav {
    top: 0;
    bottom: initial;
    .sidebar-menu--heading {
      order: 0;
    }
    .sidebar-menu--section__account {
      order: 1;
    }
    .sidebar-menu--provider {
      order: 2;
    }
    .sidebar-menu--item__logout {
      order: 3;
    }
    .sidebar-menu--item__change-password {
      order: 4;
    }
    .sidebar-menu--section__switch-orgs {
      order: 5;
    }
    .sidebar-menu--scrollbar {
      order: 6;
    }
    .sidebar-menu--section__custom-links {
      order: 7;
    }
    .sidebar-menu--item__link-name {
      order: 8;
    }
    .sidebar-menu--triangle {
      order: 9;
    }
    .sidebar-menu--section__custom-links:after {
      display: initial;
      border-top-right-radius: 0;
    }
    .sidebar-menu--triangle {
      width: 40px;
      height: 40px;
      top: $s-sidebar--width;
      left: 0;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}
