.vm-status-page__container {
  height: 100%;

  .dash-graph--heading {
    width: 100%;
    justify-content: space-between;
  }

  .panel {
    .panel-heading {
      padding: 5px 5px 0 5px;
    }
    .panel-body {
      padding: 5px;
      overflow: hidden;
    }
  }

  .hosts-table--tr {
    border-bottom: 1px solid #353535;
  }
  .hosts-table--td {
    font-size: 12px;
  }
}
.tree-item-group {
  .disabled {
    font-style: italic;
    color: #a1a1a1;
    cursor: auto;

    &.tree-item--active {
      text-shadow: none;
    }
    &:hover {
      text-shadow: none;
    }
    &:before {
      content: '';
      display: block;
      background: rgba(0, 0, 0, 0.55);
      border-bottom: 1px solid #222;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
    }
  }
}

.hosts-table-item {
  transition: color 0.25s ease;
  color: $s-brown;
  cursor: pointer;

  &.focused,
  &:hover,
  &:active {
    color: $s-orange;
  }
}

.hosts-table--th {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.align--start {
  justify-content: flex-start;
}

.align--center {
  justify-content: center;
}

.align--end {
  justify-content: flex-end;
}

.status-indicator {
  width: 12px;
  height: 12px;
  background: $c-topaz;
  border-radius: 100%;

  &.status-indicator--enabled {
    background: $c-rainforest;
  }
}

.generic-empty-state {
  display: flex;
  height: 100%;
  align-content: center;
}

.charts-body {
  position: relative;
  height: 100%;
  @include gradient-v($g2-kevlar, $g0-obsidian);

  .panel {
    .panel-body {
      padding: 7px;
      background-color: transparent;
    }
  }
}

.react-grid-item {
  &.grid-item--charts {
    z-index: 100;
  }

  &.react-draggable-dragging {
    z-index: 299;
  }
}

.vm-status-page__container {
  position: relative;
}

.vm-page-spinner-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.vm-page-spinner-overay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(
    to bottom,
    rgba(32, 32, 40, 0.15) 0%,
    rgba(15, 14, 21, 1) 100%
  );
}

.heading--button-box {
  position: relative;
  z-index: 3;
  margin-right: 5px;
  &:last-child {
    margin-right: 0;
  }
}

.icon-vmrc {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/vmrc.png');
  background-size: auto 70%;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon-margin-right-03 {
  flex: 0 0 18px;
  margin-right: 3px;
}

.pod-name {
  cursor: pointer;
  color: #ce9178;

  &:hover {
    color: #e35833;
  }
}

.kubernetes-header--bar {
  display: flex;
  align-items: center;
  justify-self: auto;
  padding: 5px 20px;
  background-color: $g4-onyx;

  .kubernetes-header--bar-item {
    margin-right: 5px;

    &:last-child {
      margin-right: 0px;
      margin-left: auto;
    }
  }
}

.kubernetes-detail-display {
  min-width: 300px;
  padding: 10px 20px;
  height: 100%;
}

.kubernetes-radio-btn--container {
  margin: 10px 0px;
}

.kubernetes-editor--field {
  background-color: $g2-kevlar;
  padding: $ix-marg-b;
  height: calc(100% - 90px);
  border: $ix-border solid $g5-pepper;
  border-radius: $radius;
  &.focus {
    border-color: $c-pool;
    box-shadow: 0 0 6px 0 $c-pool;
  }
}

.kubernetes-detail-title {
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  color: #bec2cc;
  padding: 10px 5px 0 5px;
}

.devider--bar {
  background-color: $g2-kevlar;
  color: white;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 20px 0 0;
  font-weight: bold;
}

.hexagon.focuse {
  fill: black;
}

// test Yaml
.cm-s-yaml {
  background-color: $g1-raven;
  color: #d3d4c9;
  padding-right: 13px;

  // .cm-literal-block {
  //   color: red;
  // }

  .cm-key {
    color: $g11-sidewalk;
    font-weight: 400;
  }
  .cm-array {
    color: $g11-sidewalk;
    font-weight: 400;
  }

  .cm-value {
    color: $c-viridian;
    font-weight: 400;
  }

  .cm-null {
    color: $g8-storm;
    font-style: italic;
  }

  .cm-ip {
    color: $c-comet;
    font-weight: 400;
  }

  .cm-number {
    color: $c-pool;
  }

  .cm-object-key {
    color: $c-honeydew;
  }
  .cm-object-bracelet {
    color: $c-honeydew;
  }

  .cm-operator {
    color: $g15-platinum;
  }

  .cm-argument {
    color: $g11-sidewalk;
  }

  .cm-boolean {
    color: $c-viridian;
  }

  .cm-object {
    color: $c-honeydew;
  }

  .cm-comment {
    color: $g8-storm;
  }

  .CodeMirror-scrollbar-filler {
    background-color: transparent;
  }

  .CodeMirror-vscrollbar,
  .CodeMirror-hscrollbar {
    @include custom-scrollbar-round($g1-raven, $s-orange);
    &::-webkit-scrollbar-thumb {
      border-width: 5px;
    }
  }
}
.tooltip-pin.active {
  text-shadow: 0 0 5px #f58220, 0 0 5px #f58220, 0 0 5px #f58220,
    0 0 5px #f58220, 0 0 9px #fff;
}

.kubernetes-toolbar--tooltip {
  position: fixed;
  z-index: 30;
}

.kubernetes-toolbar--tooltip-contents {
  border: 2px solid $s-orange;
  border-radius: 4px;
  display: inline-flex;
  flex-direction: column;
  background-color: $g1-raven;
  padding: 5px;
}

.kubernetes-header--left {
  display: flex;
  align-items: center;
}

.kubernetes-header--right {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.dropdown-loading {
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.dropdown.open {
  z-index: 99;
}

.kubernetes-hover {
  stroke: black;
  stroke-width: 3px;
}

.kubernetes-focuse {
  stroke: #545454;
  stroke-width: 3px;
}

.kubernetes-pin {
  stroke: #ffff00;
  stroke-width: 3px;
}

.kubernetes-dashboard {
  width: 100%;
  margin: 0 auto;
  padding: 22.5px 20px;
  height: auto;
}

.hexagon-alert {
  animation: alert 0.25s infinite;
}

@keyframes alert {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.page.inventory-hosts-list-page {
  width: 100%;
  height: 100%;
}

.tab-pannel-contents {
  padding: 5px;
}

.expandable-sectional {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.expandable-sectional-expand {
    border-bottom: 1px solid #292933;
    padding: 0 0 10px 0;
  }

  .expandable-sectional-button {
    cursor: pointer;
  }

  .expandable-sectional-title {
    padding: 0 0 0 5px;
    font-weight: 500;
  }
}

.section-wrap {
  display: flex;
  flex-wrap: wrap;
}

.section-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding: 5px;
  border-right: 1px solid #292933;

  &:nth-child(3n) {
    border-right: none;
  }
}

.util-label {
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 12px;
}

.section-item-contents {
  word-wrap: break-word;

  &.handler {
    transition: color 0.25s ease;
    color: $s-brown;
    cursor: pointer;

    &.focused,
    &:hover,
    &:active {
      color: $s-orange;
    }
  }
}

.status-tip {
  display: flex;
  align-items: center;
  justify-items: center;

  .status-tip-bg {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #bec2cc;
    margin-right: 3px;
    text-align: center;
    font-size: 11px;
    line-height: 18px;
    font-weight: 900;
    cursor: default;
  }

  &.active {
    color: #4ed8a0;

    .status-tip-bg {
      background-color: #4ed8a0;
    }

    .icon {
      color: white;
    }
  }
}

#hostInventoryContainer {
  .hosts-table--tr {
    cursor: pointer;
  }
}
