.vm-status-page__container {
  height: 100%;

  .dash-graph--heading {
    width: 100%;
  }

  .panel {
    .panel-heading {
      padding: 5px 5px 0 5px;
    }
    .panel-body {
      padding: 5px;
    }
  }

  .hosts-table--tr {
    border-bottom: 1px solid #353535;
  }
  .hosts-table--td {
    font-size: 9px;
  }
}

.hosts-table-item {
  transition: color 0.25s ease;
  color: $s-brown;
  cursor: pointer;

  &.focused,
  &:hover,
  &:active {
    color: $s-orange;
  }
}

.hosts-table--th {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.align--start {
  justify-content: flex-start;
}

.align--center {
  justify-content: center;
}

.align--end {
  justify-content: flex-end;
}

.status-indicator {
  width: 12px;
  height: 12px;
  background: $c-topaz;
  border-radius: 100%;

  &.status-indicator--enabled {
    background: $c-rainforest;
  }
}

.generic-empty-state {
  display: flex;
  height: 100%;
  align-content: center;
}

.charts-body {
  position: relative;
  height: 100%;
  @include gradient-v($g2-kevlar, $g0-obsidian);

  .panel {
    .panel-body {
      padding: 7px;
      background-color: transparent;
    }
  }
}
