.vm-status-page__container {
  height: 100%;

  .dash-graph--heading {
    width: 100%;
  }

  .panel {
    .panel-heading {
      padding: 5px 5px 0 5px;
    }
    .panel-body {
      padding: 5px;
    }
  }

  .hosts-table--tr {
    border-bottom: 1px solid #353535;
  }
  .hosts-table--td {
    font-size: 9px;
  }
}

.hosts-table-item {
  transition: color 0.25s ease;
  color: $s-brown;

  &.focused,
  &:hover,
  &:active {
    color: $s-orange;
  }
}
