.tree-item-group {
  .disabled {
    font-style: italic;
    color: #a1a1a1;
    cursor: auto;

    &.tree-item--active {
      text-shadow: none;
    }
    &:hover {
      text-shadow: none;
    }
    &:before {
      content: '';
      display: block;
      background: rgba(0, 0, 0, 0.55);
      border-bottom: 1px solid #222;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
    }
  }
}

.hosts-table-item {
  transition: color 0.25s ease;
  color: $s-brown;
  cursor: pointer;

  &.focused,
  &:hover,
  &:active {
    color: $s-orange;
  }
}

.hosts-table--th {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.align--start {
  justify-content: flex-start;
}

.align--center {
  justify-content: center;
}

.align--end {
  justify-content: flex-end;
}

.status-indicator {
  width: 12px;
  height: 12px;
  background: $c-topaz;
  border-radius: 100%;

  &.status-indicator--enabled {
    background: $c-rainforest;
  }
}

.generic-empty-state {
  display: flex;
  height: 100%;
  align-content: center;
}

.react-grid-item {
  &.grid-item--charts {
    z-index: 100;
  }

  &.react-draggable-dragging {
    z-index: 299;
  }
}

// test Yaml
.cm-s-yaml {
  background-color: $g1-raven;
  color: #d3d4c9;
  padding-right: 13px;

  // .cm-literal-block {
  //   color: red;
  // }

  .cm-key {
    color: $g11-sidewalk;
    font-weight: 400;
  }
  .cm-array {
    color: $g11-sidewalk;
    font-weight: 400;
  }

  .cm-value {
    color: $c-viridian;
    font-weight: 400;
  }

  .cm-null {
    color: $g8-storm;
    font-style: italic;
  }

  .cm-ip {
    color: $c-comet;
    font-weight: 400;
  }

  .cm-number {
    color: $c-pool;
  }

  .cm-object-key {
    color: $c-honeydew;
  }
  .cm-object-bracelet {
    color: $c-honeydew;
  }

  .cm-operator {
    color: $g15-platinum;
  }

  .cm-argument {
    color: $g11-sidewalk;
  }

  .cm-boolean {
    color: $c-viridian;
  }

  .cm-object {
    color: $c-honeydew;
  }

  .cm-comment {
    color: $g8-storm;
  }

  .CodeMirror-scrollbar-filler {
    background-color: transparent;
  }

  .CodeMirror-vscrollbar,
  .CodeMirror-hscrollbar {
    @include custom-scrollbar-round($g1-raven, $s-orange);
    &::-webkit-scrollbar-thumb {
      border-width: 5px;
    }
  }
}

.dropdown-loading {
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.dropdown.open {
  z-index: 99;
}

@keyframes alert {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.page.inventory-hosts-list-page {
  width: 100%;
  height: 100%;
}

.tab-pannel-contents {
  padding: 5px;
}

.expandable-sectional {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.expandable-sectional-expand {
    border-bottom: 1px solid #292933;
    padding: 0 0 10px 0;
  }

  .expandable-sectional-button {
    cursor: pointer;
  }

  .expandable-sectional-title {
    padding: 0 0 0 5px;
    font-weight: 500;
  }
}

.section-wrap {
  display: flex;
  flex-wrap: wrap;
}

.section-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding: 5px;
  border-right: 1px solid #292933;

  &:nth-child(3n) {
    border-right: none;
  }
}
.section-item-detail-host {
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
  max-width: 25%;
  padding: 5px;
  border-right: 1px solid #292933;

  &:nth-child(4n) {
    border-right: none;
  }
}

.util-label {
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 12px;
}

.section-item-contents {
  word-wrap: break-word;

  &.handler {
    transition: color 0.25s ease;
    color: $s-brown;
    cursor: pointer;

    &.focused,
    &:hover,
    &:active {
      color: $s-orange;
    }
  }
}

.status-tip {
  display: flex;
  align-items: center;
  justify-items: center;

  .status-tip-bg {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #bec2cc;
    margin-right: 3px;
    text-align: center;
    font-size: 11px;
    line-height: 18px;
    font-weight: 900;
    cursor: default;
  }

  &.active {
    color: #4ed8a0;

    .status-tip-bg {
      background-color: #4ed8a0;
    }

    .icon {
      color: white;
    }
  }
}

#hostInventoryContainer {
  .hosts-table--tr {
    cursor: pointer;
  }
}

.topology-preferences--radio {
  min-height: unset;
  border: 0;
  display: inline-block;
  padding: 0;

  > input[type='radio'] + label {
    padding-left: 25px;
  }

  > input[type='radio'] + label:before {
    border-radius: 0;
  }
}

.topology-preferences {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 370px;
  border: 2px solid $g5-pepper;

  #preferences-title {
    font-size: 17px;
    padding-right: 25px;
  }

  .preferences-title--min {
    padding-left: 22.1%;
    font-size: 11px;
    font-weight: 500;
  }

  .preferences-title--max {
    padding-left: 15.8%;
    font-size: 11px;
    font-weight: 500;
  }

  .preferences-td {
    height: 36px;
  }

  .preferences-td--outlet {
    height: 43px;
  }

  .topology-spinner {
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }

  .overlay--container {
    height: 234px;
  }

  .overlay--body {
    padding: 6px 15px 10px 29px;
    height: 189px;
  }

  .temperature-type {
    display: inline-block;
    width: 44px;
    text-align: center;
    padding-right: 3%;
    font-weight: 500;
    font-size: 13px;
  }

  .temperature-range {
    width: 90px;
    display: inline-block;
    padding-right: 1%;

    > .input-cte {
      color: #ffffff;
      border-radius: 2px;
    }

    > .input-cte__disabled {
      border-radius: 2px;
    }
  }

  .temperature-blank {
    padding-right: 1%;
    font-weight: 500;
    font-size: 13px;
  }

  .temperature-reset {
    background-color: $g5-pepper;
    color: $g18-cloud;
    display: inline-block;
    margin-left: 1%;
    height: 25px;
    width: 45px;
    font-size: 13px;
    padding: 0;
    border: 0;
    margin: 10px 0px 0px 4px !important;
  }

  .temperature-reset--active {
    background-color: $s-pinkRed;
    color: $g18-cloud;
    display: inline-block;
    margin-left: 1%;
    height: 25px;
    width: 45px;
    font-size: 13px;
    padding: 0;
    border: 0;
    margin: 10px 0px 0px 4px !important;
  }

  .temperature-apply {
    padding: 2.2% 0% 0% 27%;
  }

  .temperature-apply--button {
    background-color: $s-orange;
    width: 58px;
    margin-left: 40px !important;
  }

  .temperature-ok {
    background-color: $c-rainforest;
    color: $g20-white;
    display: inline-block;
    width: 58px;
    margin: 0 4px;
  }

  .temperature-cancel {
    display: inline-block;
    width: 58px;
    margin: 0 4px;
  }
}
.fetchIntervalDots {
  position: absolute;
  margin-left: 5px;
  left: 0;

  > .spinner > div {
    background-color: $s-orange !important;
  }
}

.loading-spinner .spinner {
  width: 25px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.loading-spinner .spinner > div {
  width: 8px;
  height: 8px;
  background-color: $c-pool;
  border-radius: 50%;
  animation: sk-bouncedelay 1s infinite ease-in-out both;
}
.loading-spinner .spinner .bounce1 {
  animation-delay: -0.32s;
}
.loading-spinner .spinner .bounce2 {
  animation-delay: -0.16s;
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.tooltip-data-type {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff78;
  font-size: 0.58rem;
  padding-right: 8px;
  font-style: italic;
}

.tooltip-cpu-count {
  position: relative;
  top: 0.06rem;
  margin-left: 0.2rem;
}

.tooltip-disk-path {
  width: 100%;
  white-space: pre-line;
  word-break: break-all;
  color: #ffffff78;
  font-size: 0.58rem;
  font-style: italic;
  padding: 0px 8px 6px;
}
