/*
   Influx Color Palette
   -----------------------------------------------------------------------------
*/

// Nuetrals (Dark to Light)
$g0-obsidian: #0f0e15;
$g1-raven: #1c1c21;
$g2-kevlar: #202028;
$g3-castle: #292933;
$g4-onyx: #31313d;
$g5-pepper: #383846;
$g6-smoke: #434453;
$g7-graphite: #545667;
$g8-storm: #676978;
$g9-mountain: #757888;
$g10-wolf: #8e91a1;
$g11-sidewalk: #999dab;
$g12-forge: #a4a8b6;
$g13-mist: #bec2cc;
$g14-chromium: #c6cad3;
$g15-platinum: #d4d7dd;
$g16-pearl: #e7e8eb;
$g17-whisper: #eeeff2;
$g18-cloud: #f6f6f8;
$g19-ghost: #fafafc;
$g20-white: #ffffff;

// Telegraf (Dark to Light)
$c-basalt: #2f1f29;
$c-ruby: #bf3d5e;
$c-fire: #dc4e58;
$c-fire-disabled: #6f3943;
$c-curacao: #f95f53;
$c-curacao-disabled: #eadad8;
$c-dreamsicle: #ff8564;
$c-tungsten: #ffb6a0;
$c-marmelade: #ffdccf;
$c-flan: #fff7f4;

// InfluxDB (Dark to Light)
$c-abyss: #182838;
$c-sapphire: #326bba;
$c-ocean: #4591ed;
$c-ocean-disabled: #32547f;
$c-pool: #22adf6;
$c-pool-disabled: #c9e0ed;
$c-laser: #00c9ff;
$c-hydrogen: #6bdfff;
$c-neutrino: #bef0ff;
$c-yeti: #f0fcff;

// CloudHub (Dark to Light)
$c-shadow: #1f2039;
$c-void: #311f94;
$c-amethyst: #513cc6;
$c-amethyst-disabled: #484281;
$c-star: #7a65f2;
$c-star-disabled: #d6d5ed;
$c-comet: #9394ff;
$c-potassium: #b1b6ff;
$c-moonstone: #c9d0ff;
$c-twilight: #f2f4ff;

// Kapacitor (Dark to Light)
$c-gypsy: #152b2d;
$c-emerald: #108174;
$c-viridian: #32b08c;
$c-viridian-disabled: #2b6058;
$c-rainforest: #4ed8a0;
$c-rainforest-disabled: #cfe6e1;
$c-honeydew: #7ce490;
$c-krypton: #a5f3b4;
$c-wasabi: #c6ffd0;
$c-mint: #f2fff4;

// Warnings (Dark to Light)
$c-oak: #3f241f;
$c-topaz: #e85b1c;
$c-tiger: #f48d38;
$c-pineapple: #ffb94a;
$c-thunder: #ffd255;
$c-sulfur: #ffe480;
$c-daisy: #fff6b8;
$c-banana: #fffdde;

/*
   SnetSystem Color Palette
   -----------------------------------------------------------------------------
*/
